input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

body {
    overflow-x: hidden;
}

.bgMain {
    background-image: url("../assets/bg-main-desk.jpg");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.bgAuth {
    background-image: url("../assets/auth-bg-desk.jpg");
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bgAuthForm {
    background: #301f42d6;
    box-shadow: 10px 20px 15px rgba(0, 0, 0, 0.10);
}

.bgGradientText {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bgGradient {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
}

.bgGradientReview {
    background: #ffffff29;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.textShadow {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.social-list {
    li {
        a {
            width: 43px;
            height: 43px;
            text-align: start;
            margin: 0 10px;
            padding: 0px;
            text-decoration: none;
            transition: .5s;

            &:hover {
                text-decoration: none;
            }

            .fab {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                line-height: calc(56px - 12px);
                font-size: 24px;
                color: #ffffff;
                transition: .5s;
            }
        }

        padding: 0px;

        &:nth-child(1) {
            a {
                &:hover {
                    .fab {
                        color: #00aced;
                    }
                }
            }
        }

        &:nth-child(2) {
            a {
                &:hover {
                    .fab {
                        color: #006AFF;
                    }
                }
            }
        }

        &:nth-child(3) {
            a {
                &:hover {
                    .fab {
                        color: #25D366;
                    }
                }
            }
        }

        &:nth-child(4) {
            a {
                &:hover {
                    .fab {
                        color: #e4405f;
                    }
                }
            }
        }
    }
}