.bgMain {
    background: radial-gradient(125.14% 247.47% at -10.83% -4.83%, #0A2647 46.59%, #7B2869 100%);
    height: 100vh;
    overflow: hidden;


    .svg-home-left {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .svg-home-rigth {
        position: absolute;
        top: 80px;
        right: 20px;
        transform: rotate(180deg);
    }
}

.bgAuth {
    background: radial-gradient(125.14% 247.47% at -10.83% -4.83%, #0A2647 46.59%, #7B2869 100%);
    position: relative;
    overflow: hidden;
    height: 100vh;

    .wave-top {
        position: absolute;
        width: 600px;
        top: 0;
        right: 0;
    }

    .wave-bottom {
        position: absolute;
        width: 460px;
        bottom: 0;
        left: 0;
    }

    .circle-sm {
        position: absolute;
        width: 50px;
        left: 430px;
        bottom: 15px;
    }

    .circle-md {
        position: absolute;
        width: 120px;
        left: 100px;
        bottom: 255px;
    }

    .circle-xl {
        position: absolute;
        width: 140px;
        left: 270px;
        top: 20px;
    }
}

.bgGradientText {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bgGradient {
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10.7236px;
}

.bgGradientReview {
    background: linear-gradient(90deg, #4444A5 0%, #6C3761 100%);
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.textShadow {
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.social-list {
    li {
        a {
            width: 43px;
            height: 43px;
            text-align: center;
            margin: 0 10px;
            padding: 0px;
            text-decoration: none;
            transition: .5s;

            &:hover {
                text-decoration: none;
            }

            .fab {
                width: 100%;
                height: 100%;
                display: block;
                border-radius: 50%;
                line-height: calc(56px - 12px);
                font-size: 24px;
                color: #ffffff;
                transition: .5s;
            }
        }

        padding: 0px;

        &:nth-child(1) {
            a {
                &:hover {
                    .fab {
                        color: #00aced;
                    }
                }
            }
        }

        &:nth-child(2) {
            a {
                &:hover {
                    .fab {
                        color: #006AFF;
                    }
                }
            }
        }

        &:nth-child(3) {
            a {
                &:hover {
                    .fab {
                        color: #25D366;
                    }
                }
            }
        }

        &:nth-child(4) {
            a {
                &:hover {
                    .fab {
                        color: #e4405f;
                    }
                }
            }
        }
    }
}